<div class="modal" *ngIf="booking">
  <div class="modal-content">
    <button class="close-btn" (click)="closeModal()">×</button>  

    <h3 class="modal-title">{{ booking.name }}</h3>
    <p><strong>Instructor:</strong> {{ booking.teacher }}</p>
    <p><strong>Fecha:</strong> {{ booking.date | date: 'longDate' }}</p>
    <p><strong>Descripción:</strong> {{ booking.description }}</p>
    <p><strong>Plazas disponibles:</strong> {{ booking.slots }}</p>
    <button *ngIf="!isReserved" class="reserve-btn" (click)="reserveBooking()">
      Reservar
    </button>
    <p *ngIf="isReserved" class="reserved-message">
      ¡Reserva realizada! <br/> Fecha de reserva: {{ booking.date | date: 'longDate' }}
    </p>

    <button class="close-btn-alt" (click)="closeModal()">Volver</button>  
  </div>
</div>
